body, input, textarea, button {
  text-transform: uppercase;
}

.main_button {
  margin-right: 1rem;
}

h3 {
  font-size: 1em;
  margin: 0;
}

h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.8em;
}

.color_contexto {
  background-color: #EB786E;
}
.color_analisis {
  background-color: #5D6D7D;
}
.color_diagnostico {
  background-color: #FDB643;
}
.color_acciones {
  background-color: #A3A3A3;
}
.color_eficacia {
  background-color: #6BA3D0;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

a.section_button {
  color: white;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.5em;
  margin: 2rem 0;
}

.progress_bar {
  height: 0.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  border-radius: 0.1rem;
  background-color: #F1F3F6;
}


.btn.menu-btn {
  color: white;
  width: 100%
}

.progress_section {
  margin: 2rem 0;
}

.green {
  background-color: #5FD800;
}

.yellow {
  background-color: #FDB643;
}

.action-color {
  color: #5FD800;
}

.help-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}

section {
  width: 100%;
}

div.section {
  margin: 0 1rem;
}
.section_title_bar .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.section_title_bar {
  margin: 1rem;
  background-color: #F1F3F6;
  padding-right: 1rem;
}
.options {
    text-align: right;
    padding: 20px;
}

.form-group.row {
    float: right;
    margin: 0;
    padding: 0px 20px 30px 20px;
}

.form-group.row label {
    padding-right: 10px;
}

#afamodal .modal-body h5 {
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

#afamodal .modal-body .form-group {
    max-width: 360px;
    margin-bottom: 60px;
}

#afamodal .modal-dialog {
    max-width: 1080px;
}

#afamodal .table thead th {
    border-top: 0;
}

#afamodal .table {
    margin-bottom: 50px;
}

.section {
    margin: 60px 0 60px 0;
}

.header-section {
    height: 60px;
    background-color: #F3F3F5;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 30px;
}

.header-section h4 {
    margin-bottom: 0;
    padding-left: 10px;
}

.header-section div:nth-child(1){
    display: flex;
    align-items: center;
}

.fa-info-circle {
    color: #76A8D5;
}
.underline-border {
    border-style:  solid;
    border-color: lightgray;
    border-width: 0 0 1px 0;
    }
input[type=text] + input[type=text] {
  margin-left: 0.5rem;
}

.main_button {
  margin-bottom: 1rem;
}

.no-style-btn {
  color: inherit;
	border: none;
	margin: 0 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background-color: transparent;
}

/* SIDEVAR */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #EEEEEE;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 4rem;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

p.tutorial-description {
  text-transform: none;
  font-size: 0.875em;
  padding: 1rem 0;
}

p.tutorial-step {
  padding: 0.5rem;
  text-transform: none;
  font-size: 0.75em;
}

a.tutorial-section_button {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  /* border-radius: 0.5rem; */
  /* font-size: 0.5em; */
  margin: 1rem 0;
}

a.color_contexto.active {
  box-shadow:
    0 0 0 5px rgba(235, 120, 110, 0.30),
    0 0 0 10px rgba(235, 120, 110, 0.30);
}

a.color_analisis.active {
  box-shadow:
    0 0 0 5px rgba(93, 109, 125, 0.3),
    0 0 0 10px rgba(93, 109, 125, 0.3);
}

a.color_diagnostico.active {
  box-shadow:
    0 0 0 5px rgba(253, 182, 67, 0.3),
    0 0 0 10px rgba(253, 182, 67, 0.3);
}

a.color_acciones.active {
  box-shadow:
    0 0 0 5px rgba(163, 163, 163, 0.3),
    0 0 0 10px rgba(163, 163, 163, 0.3);
}

a.color_eficacia.active {
  box-shadow:
    0 0 0 5px rgba(107, 163, 208, 0.3),
    0 0 0 10px rgba(107, 163, 208, 0.3);
}

.tutorial-section_button + .tutorial-section_button {
  margin-left: 1rem;
}

.tutorial-img {
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
